The dataset to be used for the project, Housing Code Violations comes from dataMontgomery. 
This dataset is updated weekly; the last update was June 9, 2019.

Dataset:  Housing Code Violations

Load Housing Code Violations dataset

Housing Code Enforcement data from 2013 to the present , including violations identified. Update Frequency: Weekly

Source: https://data.montgomerycountymd.gov/Consumer-Housing/Housing-Code-Violations/k9nj-z35d

In [1]:
#to show where you are
#You need to know where the notebook is located in order to retrieve your downloads.

import os
print(os.getcwd())

C:\Users\GBTC406008ur

In [2]:
#Import Libraries
import pandas as pd
import numpy as np

In [3]:
#Load csv file data with headers

location = "downloads/datasets/HousingCodeViolations.csv"
df = pd.read_csv(location)

In [4]:
#To view the first 5 rows of the dataFrame
df.head()

,Case Number,Date Filed,Date Assigned,Date Closed,Disposition,Street Address,Unit Number,City,Zip Code,Service Request Number,...,Latitude,Longitude,Location,Council Districts,Councils,Communities,Zip Codes,Municipalities,:@computed_region_a9cs_3ed7,:@computed_region_r648_kzwt
0,155956,2019/05/28,2019/05/28,2019/06/07,Violations Corrected,9847 LAKE SHORE DR,NaN,MONTGOMERY VILLAGE,20886.0,1.387591e+09,...,0.0,0.0,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,155854,2019/05/23,2019/05/23,2019/06/04,Violations Corrected,306 APPLE GROVE RD,NaN,SILVER SPRING,20904.0,1.387165e+09,...,0.0,0.0,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,155854,2019/05/23,2019/05/23,2019/06/04,Violations Corrected,306 APPLE GROVE RD,NaN,SILVER SPRING,20904.0,1.387165e+09,...,0.0,0.0,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,155826,2019/05/22,2019/05/22,2019/06/06,FDA - Passed Inspection,12403 BRAXFIELD CT,NaN,ROCKVILLE,20852.0,NaN,...,0.0,0.0,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155813,2019/05/21,2019/05/21,2019/05/28,Violation Unfounded,19413 LAGUNA DR,NaN,GAITHERSBURG,20879.0,1.387004e+09,...,0.0,0.0,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail(10)

,Case Number,Date Filed,Date Assigned,Date Closed,Disposition,Street Address,Unit Number,City,Zip Code,Service Request Number,...,Latitude,Longitude,Location,Council Districts,Councils,Communities,Zip Codes,Municipalities,:@computed_region_a9cs_3ed7,:@computed_region_r648_kzwt
239330,111049,2013/01/02,2013/01/02,2013/02/12,Violations Corrected,4903 EDGEMOOR LN,NaN,BETHESDA,20814.0,1.128939e+09,...,38.985212,-77.097927,"(38.9852, -77.0979)",1.0,1.0,12.0,111,1.0,1.0,3.0
239331,111049,2013/01/02,2013/01/02,2013/02/12,Violations Corrected,4903 EDGEMOOR LN,NaN,BETHESDA,20814.0,1.128939e+09,...,38.985212,-77.097927,"(38.9852, -77.0979)",1.0,1.0,12.0,111,1.0,1.0,3.0
239332,111049,2013/01/02,2013/01/02,2013/02/12,Violations Corrected,4903 EDGEMOOR LN,L7,BETHESDA,20814.0,1.128939e+09,...,38.985212,-77.097927,"(38.9852, -77.0979)",1.0,1.0,12.0,111,1.0,1.0,3.0
239333,111039,2013/01/02,2013/01/02,2013/01/08,Violation Unfounded,12826 ETHEL ROSE WAY,NaN,BOYDS,20841.0,1.128872e+09,...,39.212363,-77.264359,"(39.2124, -77.2644)",2.0,2.0,50.0,75,1.0,2.0,5.0
239334,111047,2013/01/02,2013/01/02,2013/03/25,Violations Corrected,11708 ROCKING HORSE RD,NaN,ROCKVILLE,20852.0,1.128876e+09,...,39.048624,-77.098035,"(39.0486, -77.098)",4.0,4.0,19.0,60,1.0,4.0,3.0
239335,111047,2013/01/02,2013/01/02,2013/03/25,Violations Corrected,11708 ROCKING HORSE RD,NaN,ROCKVILLE,20852.0,1.128876e+09,...,39.048624,-77.098035,"(39.0486, -77.098)",4.0,4.0,19.0,60,1.0,4.0,3.0
239336,111040,2013/01/02,2013/01/02,2013/03/07,Violations Corrected,330 NORTHWEST DR,NaN,SILVER SPRING,20901.0,1.128860e+09,...,39.038992,-77.003095,"(39.039, -77.0031)",5.0,5.0,18.0,21,1.0,5.0,2.0
239337,111043,2013/01/02,2013/01/02,2013/02/14,Violations Corrected,14138 GRAND PRE RD,NaN,SILVER SPRING,20906.0,1.128752e+09,...,39.088040,-77.075615,"(39.088, -77.0756)",4.0,4.0,59.0,6,1.0,4.0,4.0
239338,111040,2013/01/02,2013/01/02,2013/03/07,Violations Corrected,330 NORTHWEST DR,NaN,SILVER SPRING,20901.0,1.128860e+09,...,39.038992,-77.003095,"(39.039, -77.0031)",5.0,5.0,18.0,21,1.0,5.0,2.0
239339,111043,2013/01/02,2013/01/02,2013/02/14,Violations Corrected,14138 GRAND PRE RD,NaN,SILVER SPRING,20906.0,1.128752e+09,...,39.088040,-77.075615,"(39.088, -77.0756)",4.0,4.0,59.0,6,1.0,4.0,4.0

In [ ]:
#Show the number of rows and columns in the dataframe
df.shape

#For QA, make sure this matches what is listed on the website as 239K rows and 24 columns.

In [ ]:
#View the column names in the dataset
print(df.columns)

In [ ]:
#Show the data type of each column
df.dtypes

In [ ]:
#descriptive statistics
df.describe()

In [ ]:
df.corr()

In [ ]:
df.shape

In [ ]:
df.ZipCode.count()